@page "/catalog/{id}"

@using EcoMeal.Entities;
@using EcoMeal.Controllers;

@using Microsoft.AspNetCore.Mvc;

@inject BusinessController businessController
@inject PackageController packageController

<PageTitle>Catalog @(error ? "- Error" : "")</PageTitle>

<h3>@headName</h3>
<hr />

@if (error)
{
    <div class="alert alert-danger">
        <span class="fw-bold">Error: </span>
        Business with ID "@id" <span class="fw-bold">not found</span>.
        Try again from the <a href="/businesses">main page</a>.
    </div>
    return;
}

@if (currentBusiness != null)
{
    <div class="container-sm">
        <div class="fw-semibold">
            Business "@currentBusiness?.Name" has @(packages?.Count ?? 0)<i class="bi bi-box-seam-fill"></i> packages available.
        </div>
        <div class="d-flex flex-wrap gap-3 align-items-center mb-3">
            <div class="mt-2 p-2 border rounded bg-light text-center" style="max-width: 300px;">
                <img src="@currentBusiness.ImageURL" class="img-thumbnail" style="width: 300px; height: 300px;" />
            </div>
        </div>

        <a class="btn btn-primary" role="button" href="/create-package/@BusinessID">
        Create New Package Listing <i class="bi bi-box-seam-fill"></i>
        </a>

            @if ((packages?.Count ?? 0) > 0)
            {
                @* Todo: make these pretty with cards *@
                <table class="table table-bordered table-hover mt-3">
                    <thead>
                        <tr class="table-dark">
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Image</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Package pkg in packages)
                        {
                            <tr>
                                <td>@pkg.Name</td>
                                <td>@pkg.Description</td>
                                <td>@pkg.Price</td>
                                <td>@pkg.Quantity</td>
                                <td>
                                    <img src="@pkg.ImageURL" alt="photo" style="width:100px; height:100px;"/>
                                </td>
                                <td>
                                    <a href="/create-package/edit/@pkg.Id" class="btn btn-warning" role="button">
                                        Edit <i class="bi bi-pencil-square"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
     </div>
}



@code {
    [Parameter]
    public string id { get; set; }
    Guid BusinessID;

    private Business? currentBusiness;

    bool error = false;
    string headName => error ? "Catalog - Error" : $"Catalog for {currentBusiness?.Name}";

    private List<Package>? packages = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            BusinessID = Guid.Parse(id);
        }
        catch (FormatException)
        {
            error = true;
            return;
        }

        Console.WriteLine($"Catalog ID: {BusinessID}");

        ActionResult<Business?> result = await businessController.GetById(BusinessID);
        if (result.Result is NotFoundResult)
        {
            error = true;
            return;
        }


        currentBusiness = result.Value;

        ActionResult<List<Package>> packageResult = await packageController.GetByBusinessIdAsync(BusinessID);
        packages = packageResult.Value;
    }
}
